/* definisco background dell header,
aggiungo l'immagine di sfondo*/
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    background-size:contain;
}

/* posizione e dimensione logo */
#logo{
    text-align:center;
    max-width: 20%;
}