/* elimino tutti i margini di default */
*{
    margin:0px;
    padding:0px;
}

/* definisco background dell header,
aggiungo l'immagine di sfondo*/
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    background-size:20%;
}

/* posizione e dimensione logo */
#logo{
    
    max-width: 20%;
}

/* stile e dimensioni */
#titolo_grande{
    font-size: 4em;
}
.grigio{
    color:grey;
}
.testo_piccolissimo{
    font-size:11px;
}

/* evidenziatore */
.yellow_marker{
    background-color:yellow;
}

/* metto il padding sull elenco per mostrare i pallini */
#elenco{
    padding:16px;    
}

/* colori e dimensionamento table */
#testa_tabella{
    background-color:rgb(31, 169, 229);
    color:white;
}
.short_column{
    width: 25%;
}

.long_column{
    width: 50%;
}

.blue_row{
    background-color: rgb(177, 229, 242);
}