/* elimino tutti i margini della prima sezione */
#intro_tim{
    margin:auto;
}
/* definisco background dell header,
aggiungo l'immagine di sfondo*/
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    background-size:20%;
}

/* posizione e dimensione logo */
#logo{
    text-align:center;
    max-width: 20%;
}

/* stile e dimensioni */
#titolo_grande{
    font-size: 4em;
}
.grigio{
    color:grey;
}
.testo_piccolissimo{
    font-size:11px;
}