/* elimino tutti i margini di default */
*{
    margin:0px;
    padding:0px;
}

#contenitore{
    width:80%;
    margin:auto;
}

/* definisco background dell header,
aggiungo l'immagine di sfondo e sistemo la sua
posizione col padding*/
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(78, 160, 255);
    background-size:30%;
}

/* posizione e dimensione logo */
#container_logo{
    width:80%;
    margin:auto;
    padding: 40px 0px 0px;
}
#logo{
    /*meglio usare l'altezza per definire i loghi
    e meglio usarla in pixel e non in percentuale*/
    height: 50px;
}

/* stile e dimensioni */
#titolo_grande{
    font-size: 3em;
}
.blue{
    color:rgb(31, 169, 229);
}
.white{
    color:white;
}
.grigio.bold{
    color:grey;
    font-weight: 700;
}
.testo_piccolissimo{
    font-size:11px;
}

/* evidenziatore 
se usi mark su html e' meglio
perche' e' semantico*/
.yellow_marker{
    background-color:yellow;
}

/* metto il padding sull elenco per mostrare i pallini */
#elenco{
    padding:16px;    
}

/* colori e dimensionamento table */
#testa_tabella{
    background-color:rgb(31, 169, 229);
}
.short_column{
    width: 25%;
}

.long_column{
    width: 50%;
}

.blue_row{
    background-color: rgb(177, 229, 242);
}

/* creo l'ultima sezione */
#articolo1{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

#articolo2{
    background-image: url(../img/graph.jpg);
    background-size: cover;
}
/* dimensione del quadrato per l'articolo */
.square{
    margin:5px 0px 5px 0px;
    border: 0px solid black;
    width: 200px;
    height: 200px;

}
/* stile del footer */
footer{
    padding:10px;
    text-align:center;
}